@using KillBug.ViewModels
@model DashboardViewModel

@{
    ViewBag.Title = "Main Dashboard";
}

<section class="no-padding-top no-padding-bottom">
    <div class="container-fluid">
        <!-- FIRST ROW TEAM DATA -->
        <div class="row">
            <!--TEAM DATA-->
            <div class="col-md-3 col-sm-6">
                <div class="statistic-block block">
                    <div class="progress-details d-flex align-items-end justify-content-between">
                        <div class="title">
                            <div class="icon"><i class="icon-user-1"></i></div><strong>Team</strong>
                        </div>
                        <div class="number dashtext-1">@Model.TeamCount</div>
                    </div>
                    <hr />
                    <div class="progress-details d-flex align-items-end justify-content-between">
                        <div class="title">
                            <div class="icon"><i class="icon-windows"></i></div><strong>Project Managers</strong>
                        </div>
                        <div class="number dashtext-2">@Model.PMCount</div>
                    </div>
                    <div class="progress progress-template">
                        <div role="progressbar" style="width: @((Model.PMCount / Model.TeamCount) * 100)%" aria-valuenow="@Model.PMCount" aria-valuemin="0" aria-valuemax="@Model.TeamCount" class="progress-bar progress-bar-template dashbg-3"></div>
                    </div>
                    <div class="progress-details d-flex align-items-end justify-content-between">
                        <div class="title">
                            <div class="icon"><i class="icon-list-1"></i></div><strong>Developers</strong>
                        </div>
                        <div class="number dashtext-3">@Model.DevCount</div>
                    </div>
                    <div class="progress progress-template">
                        <div role="progressbar" style="width: @((Model.DevCount / Model.TeamCount) * 100)%" aria-valuenow="@Model.DevCount" aria-valuemin="0" aria-valuemax="@Model.TeamCount" class="progress-bar progress-bar-template dashbg-3"></div>
                    </div>
                    <div class="progress-details d-flex align-items-end justify-content-between">
                        <div class="title">
                            <div class="icon"><i class="icon-list-1"></i></div><strong>Submitters</strong>
                        </div>
                        <div class="number dashtext-4">@Model.SubCount</div>
                    </div>
                    <div class="progress progress-template">
                        <div role="progressbar" style="width: @((Model.SubCount / Model.TeamCount) * 100)%" aria-valuenow="@Model.SubCount" aria-valuemin="0" aria-valuemax="@Model.TeamCount" class="progress-bar progress-bar-template dashbg-3"></div>
                    </div>
                </div>
            </div>
            <!--PROJECT DATA-->
            <div class="col-md-3 col-sm-6">
                <div class="statistic-block block">
                    <div class="progress-details d-flex align-items-end justify-content-between">
                        <div class="title">
                            <div class="icon"><i class="icon-user-1"></i></div><strong>Projects</strong>
                        </div>
                        <div class="number dashtext-1">@Model.ProjectsCount</div>
                    </div>
                    <hr />
                    <div class="progress-details d-flex align-items-end justify-content-between">
                        <div class="title">
                            <div class="icon"><i class="icon-windows"></i></div><strong>Tickets</strong>
                        </div>
                        <div class="number dashtext-2">@Model.TicketsCount</div>
                    </div>
                    <div class="progress-details d-flex align-items-end justify-content-between">
                        <div class="title">
                            <div class="icon"><i class="icon-list-1"></i></div><strong>Comments</strong>
                        </div>
                        <div class="number dashtext-3">@Model.CommentsCount</div>
                    </div>
                    <div class="progress-details d-flex align-items-end justify-content-between">
                        <div class="title">
                            <div class="icon"><i class="icon-list-1"></i></div><strong>Attachments</strong>
                        </div>
                        <div class="number dashtext-4">@Model.AttachmentsCount</div>
                    </div>
                </div>
            </div>

        </div>
        <!-- CHARTS ROW -->
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="block">
                    <div class="title row no-gutters mb-0">
                        <div class="col-10"><strong class="d-block">Ticket Priority</strong></div>
                        <div class="ml-auto"><i class="fas fa-lg fa-chevron-up btn btn-block-controls" id="collapse-ticket-priorities"></i></div>
                    </div>
                    <div class="block-body collapsable">
                        <canvas id="priority-bar"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="block">
                    <div class="title row no-gutters mb-0">
                        <div class="col-10"><strong class="d-block">Ticket Types</strong></div>
                        <div class="ml-auto"><i class="fas fa-lg fa-chevron-up btn btn-block-controls" id="collapse-ticket-types"></i></div>
                    </div>
                    <div class="block-body collapsable">
                        <canvas id="types-polar"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="block">
                    <div class="title row no-gutters mb-0">
                        <div class="col-10"><strong class="d-block">Ticket Status</strong></div>
                        <div class="ml-auto"><i class="fas fa-lg fa-chevron-up btn btn-block-controls" id="collapse-ticket-status"></i></div>
                    </div>
                    <div class="block-body collapsable">
                        <canvas id="types-doughnut"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

@section Scripts{
    <script>
        $('#display-test').on("click", function () {
            $.ajax({
                type: "GET",
                url: "@Url.Action("Test", "Charts")",
                data: {input: "hello"},
                dataType: "json",
                success: function (result) {
                            alert(result);
                },
                error: errorFunc
            });

            function errorFunc() {
                alert('error');
            }
        });
        $.ajax({
            type: "POST",
            url: "@Url.Action("TicketPriorityChartData", "Charts")",
            dataType: "json"
        }).then(function (response) {
            var ctx = document.getElementById('priority-bar').getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: response.Labels,
                    datasets:
                        [{
                            label: response.KeyLabel,
                            data: response.Data,
                            backgroundColor: response.Options.BackgroundColors,
                            borderColor: response.Options.BorderColors,
                            borderWidth: response.Options.BorderWidth
                        }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });
        });
        $.ajax({
            type: "POST",
            url: "@Url.Action("TicketTypeChartData", "Charts")",
            dataType: "json"
        }).then(function (response) {
            var mDC = document.getElementById('types-polar').getContext('2d')
            var myDoughnutChart = new Chart(mDC, {
                type: 'polarArea',
                data: {
                    labels: response.Labels,
                    datasets:
                        [{
                            label: response.KeyLabel,
                            data: response.Data,
                            backgroundColor: response.Options.BackgroundColors,
                            borderColor: response.Options.BorderColors,
                            borderWidth: response.Options.BorderWidth
                        }]
                }
            });
        });
        $.ajax({
            type: "POST",
            url: "@Url.Action("TicketStatusChartData", "Charts")",
            dataType: "json"
        }).then(function (response) {
            var mDC = document.getElementById('types-doughnut').getContext('2d')
            var myDoughnutChart = new Chart(mDC, {
                type: 'doughnut',
                data: {
                    labels: response.Labels,
                    datasets:
                        [{
                            label: response.KeyLabel,
                            data: response.Data,
                            backgroundColor: response.Options.BackgroundColors,
                            borderColor: response.Options.BorderColors,
                            borderWidth: response.Options.BorderWidth
                        }]
                }
            });
        });


        $('#collapse-ticket-priorities').on("click", function (e) {
            $('#collapse-ticket-priorities').parent().parent().siblings('.collapsable').slideToggle();
            $('#collapse-ticket-priorities').toggleClass(['fa-chevron-up', 'fa-chevron-down'])
        });
        $('#collapse-ticket-types').on("click", function (e) {
            $('#collapse-ticket-types').parent().parent().siblings('.collapsable').slideToggle();
            $('#collapse-ticket-types').toggleClass(['fa-chevron-up', 'fa-chevron-down'])
        });
        $('#collapse-ticket-status').on("click", function (e) {
            $('#collapse-ticket-status').parent().parent().siblings('.collapsable').slideToggle();
            $('#collapse-ticket-status').toggleClass(['fa-chevron-up', 'fa-chevron-down'])
        });
    </script>
}
