@using KillBug.Classes
@model KillBug.Models.Ticket

@{
    ViewBag.Title = "Dashboard";
}

<section class="no-padding-bottom">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="col">
                    <div class="block">
                        <div class="title"><strong>@Model.Title</strong></div>
                        <div class="checklist">
                            <div class="item d-flex align-items-center">
                                <input type="checkbox" id="input-1" name="input-1" class="checkbox-template">
                                <label for="input-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</label>
                            </div>
                            <div class="item d-flex align-items-center">
                                <input type="checkbox" id="input-2" name="input-2" checked="" class="checkbox-template">
                                <label for="input-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</label>
                            </div>
                            <div class="item d-flex align-items-center">
                                <input type="checkbox" id="input-3" name="input-3" class="checkbox-template">
                                <label for="input-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</label>
                            </div>
                            <div class="item d-flex align-items-center">
                                <input type="checkbox" id="input-4" name="input-4" class="checkbox-template">
                                <label for="input-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</label>
                            </div>
                            <div class="item d-flex align-items-center">
                                <input type="checkbox" id="input-5" name="input-5" class="checkbox-template">
                                <label for="input-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</label>
                            </div>
                            <div class="item d-flex align-items-center">
                                <input type="checkbox" id="input-6" name="input-6" class="checkbox-template">
                                <label for="input-6">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="messages-block block">
                        <div class="title"><strong>Comments <small>(@Model.Comments.Count)</small></strong></div>
                        <div class="messages">
                            @foreach (var comment in Model.Comments)
                            {

                                <a href="#" class="message d-flex align-items-center">
                                    <div class="profile">
                                        <img src="~/@comment.User.AvatarPath" alt="..." class="img-fluid">
                                        @*<div class="status online"></div>*@
                                    </div>
                                    <div class="content">
                                        <strong class="d-block">@comment.User.FullName</strong>
                                        <span class="d-block">@comment.Comment</span>
                                        <small class="date d-block">@comment.Created.ToString("MM/dd hh:mm tt")</small>
                                    </div>
                                </a>
                            }
                        </div>
                        <hr />
                        @using (Html.BeginForm("Create", "TicketComments"))
                        {
                            @Html.AntiForgeryToken()
                            @Html.Hidden("TicketId", Model.Id)

                            <div class="input-group">
                                <input type="text" placeholder="Leave a Comment" class="form-control" name="Comment">
                                <div class="input-group-append">
                                    <input type="submit" value="Submit" class="btn btn-primary">
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="block margin-bottom-sm">
                    <div class="title"><strong>Upload Attachment</strong></div>
                    @using (Html.BeginForm("Upload", "TicketAttachments", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.Hidden("TicketId", Model.Id)
                        <div class="form-horizontal">
                            <div class="form-group">
                                <div class="col">
                                    <label class="custom-file-upload">
                                        <i class="fa fa-cloud-upload"></i>
                                        &nbsp;Choose a File
                                        <input type="file" name="Attachment" id="file-upload" />
                                    </label>
                                    &nbsp;
                                    <span id="file-selected"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col">
                                    @Html.Label("Description", htmlAttributes: new { @class = "control-label col-md-2" })
                                    <input type="text" name="Description" id="file-upload" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Upload" class="btn btn-primary" />
                                </div>
                            </div>
                        </div>
                    }
                </div>
                @if (Model.Attachments.Count > 0)
                {
                    <div class="block messages-block margin-bottom-sm">
                        <div class="title"><strong>Attachments</strong></div>
                        <div class="messages">
                            @foreach (var attachment in Model.Attachments)
                            {
                                <a href="@Url.Content(attachment.FilePath)" class="message d-flex align-items-center" target="_blank">
                                    <div class="">
                                        <img src="@FileTypeIcons.AttachmentIconPath(attachment.FileName)" alt="..." class="filetype-icon">
                                    </div>
                                    <div class="content">
                                        <strong class="d-block">@attachment.FileName</strong>
                                        <span class="d-block">@attachment.Description</span>
                                        <small class="d-block">@Html.DisplayFor(modelItem => attachment.Created) by @attachment.User.FullName</small>
                                    </div>
                                </a>
                            }
                            @*<a href="#" class="text-center message"> <strong>See All Attachments <i class="fa fa-angle-right"></i></strong></a>*@
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>

@section Scripts{
    <script>
        $('#file-upload').bind('change', function () {
            var fileName = '';
            fileName = $(this).val();
            fileName = fileName.substring(12)
            $('#file-selected').html(fileName);
        })
    </script>
}