@using KillBug.ViewModels
@model IEnumerable<DeveloperAssignmentsViewModel>
@{
    ViewBag.Title = "Assign Team";
}

@using (Html.BeginForm("AssignProjectUsers", "Projects"))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <div class="form-group">
            <div class="row">
                <div class="col-md-6 col-lg-4">
                    @Html.Label("Developers & Submitters", new { @class = "form-control-label" })
                    @Html.ListBox("UserIds", null, new { @class = "form-control" })
                </div>
                <div class="col-md-6 col-lg-4">
                    @Html.Label("Projects", new { @class = "form-control-label" })
                    @Html.ListBox("ProjectIds", null, new { @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-primary" value="Assign Members" />
            </div>
        </div>
    </div>
}
@using (Html.BeginForm("RemoveProjectUsers", "Projects"))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <div class="form-group">
            <div class="row">
                <div class="col-md-6 col-lg-4">
                    @Html.Label("Developers & Submitters", new { @class = "form-control-label" })
                    @Html.ListBox("UserIds", null, new { @class = "form-control" })
                </div>
                <div class="col-md-6 col-lg-4">
                    @Html.Label("Projects", new { @class = "form-control-label" })
                    @Html.ListBox("ProjectIds", null, new { @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-primary" value="Remove Members" />
            </div>
        </div>
    </div>
}
<table class="table table-striped table-users">
    <thead>
        <tr>
            
            <th></th>
            <th>@Html.DisplayName("Team Member")</th>
            <th>@Html.DisplayNameFor(model => model.Email)</th>
            <th>@Html.DisplayNameFor(model => model.Projects)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
        <tr>
            <td style="width:50px">
                <div class="table-avatar"><img src="~/@user.AvatarPath" alt="..." class="img-fluid rounded-circle" /></div>
            </td>
            <td>@Html.DisplayFor(model => user.Name)</td>
            <td>@Html.DisplayFor(model => user.Email) </td>
            <td>
                @if (user.Projects.Count() == 0)
                {
                    <span>0 Projects</span>
                }
                else
                {
                    <a href="#projects-@user.MenuDrop" aria-expanded="false" data-toggle="collapse">@user.Projects.Count() Projects</a>
                    <ul id="projects-@user.MenuDrop" class="collapse list-unstyled">
                        @foreach (var proj in user.Projects)
                        {
                            <li>@proj</li>
                        }
                    </ul>
                }
            </td>
        </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script>
        $('#ProjectsMenu').click()
        $('#ProjectsAssign').addClass("active")

        $('.table').DataTable();
    </script>
}