@model IEnumerable<KillBug.Models.Project>

@{
    ViewBag.Title = "My Projects";
}

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayName("Manager")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Created)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.IsArchived)
                </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProjectManager.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Created)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.IsArchived)
                    </td>*@
                <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts{
    <script>
        $('.active').removeClass("active")
        $('#ProjectsMenu').removeClass("collapsed")
        $('#ProjectsDropdown').addClass("show")
        $('#MyProjects').addClass("active")

        $('.table').DataTable();
    </script>
}